body {
    background-color: darkorange;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 500px;
    width: 500px;
    margin: 50px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.gameboardsContainer {
    display: flex;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.cell {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: white;
}

.playerFleetContainer {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 20px;
    background-color: white;
}

.ship{
    background-color: red;
    margin: 1rem;
    padding: .5em;
    text-align: center;

}

#startingWindow {
    background-color: red;
}

.active {
    background-color: green;
}

.ship-placed {
    background-color: green;
}

.placed {
    pointer-events: none;
    opacity: 0.5;
}